

:root{
    /*Colors*/
--primary:;
--secondary:;
--text-color:;
--base:;

/*Spacing*/
--spacing-medium: 2.4 rem;
--spacing-small: 2rem;
--xpacing-xsmall:1rem;

/* Font- family */

--font-principal:'Roboto', sans-serif;
--font-title:'Outfit', sans-serif;

/* Font- sizes */
--text-large: 5.2em;
--text-medium:4.5em;
--text-base:1.8em;
--text-small:1.4em;
}*/
/*Normalize*/


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

.selector-for-some-widget {
    box-sizing: content-box;
  }

html{
    font-size: 62.5%;
    font-family: var(--font-principal);
 
  }
  
body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 
    min-height: height 100vh;



   

    
}

main{
    margin: 0 auto;
    max-width: 1200px;
    margin-top: var(--spacing-medium);
 
  
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 340px;
    background-color: aqua;
   
}

.ul__header{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    font-size: large;
   
}
.li__header{
    justify-content: space-between;
    list-style-type: none;
  

}

.ol ser{

}
  
.ser__li{
    display: flex;
    list-style-type: none;
}
        
.logo__opc{
    
    display: flex;
    margin: 1em;
    display: inline-block;
    margin: 0 0.5rem;

    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s
    
}

.logo__redes{
    display: flex;
    list-style-type: none;
    justify-content: end;
    align-items: center;
    height: 30px;
}



nav{
  
    
    background-color: aqua;
    
    width: 50%;

}





.fondo__main{
    display: flex;
    width: 100%;


}

.texto1{
   width: 100%;
    justify-items: end;
   
    font-family: var(--font-title);
    font-size: var(--text-base);


}

footer{
    display: flex;
    background-color: aqua;
    
}
.foo__p{
    align-items: center;
}

/*.grid_ofer{ 
   
    display: grid;
    grid-template-rows: 40vh 40vh 40vh 40vh;
    grid-template-columns: 30vw 30vw;
    grid: column gap 20px; 
    grid:row gap 20px;

  
section{
    display: flex;
    width: 100%;
    align-items: center;
}
  

}

*/



/*.im__rep{
    
        width: 100px;
        height: 100px;
      
        
      transition: width 2s;
      }
      
     :hover {
        width: 300px;
              

        .imag__ofer{
    height: 100px;
}


.pOfer{
     display: flex;
     text-align: right;
     margin-top: 10%;
}        
}*/
