@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

:root{
    /*Colors*/
--primary:;
--secondary:;
--text-color:;
--base:;
/*Spacing*/
/* Font- family */
--font-principal:'Roboto', sans-serif;
--font-title:'Outfit', sans-serif;

/* Font- sizes */
--text-large: 5.2em;
--text-medium:4.5em;
--text-base:1.8em;
--text-small:1.4em;
}
/**/


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

/*Vista Movile*/

@media only screen and (min-width:0px)and (max-width:767px){
    .gridCointaner{
        display: grid;
    }
}


html{
    font-size: 62.5%;
    font-family: var(--font-principal);
}
body{
    display: flex;
    flex-direction: column;
}

main{
    padding: 100px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
   
}

.ul__header{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    font-size: large;
   
}
.li__header{
    justify-content: space-between;
    list-style-type: none;
  

}

        
.logo__opc{

}

.logo__redes{
    display: flex;
    list-style-type: none;
    justify-content: end;
    align-items: center;
    height: 30px;
}



nav{
  
  
    background-color: aqua;
    
    width: 50%;

}




section{
    display: flex;
    width: 100%;
    align-items: center;
}


.fondo__main{
    display: flex;
    width: 100%;


}

.texto1{
   width: 100%;
    justify-items: end;
   
    font-family: var(--font-title);
    font-size: var(--text-base);


}

footer{
    display: flex;
    background-color: aqua;
    
}
.foo__p{
    align-items: center;
}