

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


@import "./misc/variables";
@import "./misc/normalize";
@import "./misc/animaciones";


@import "./partials/header";

@import "./partials/footer";



@import "./pages/inicio";
@import "./pages/servicios";
@import "./pages/reparaciones";
@import "./pages/ofertas";
@import "./pages/contacto";
