





html{
  font-size: 62.5%;
  font-family: var(--font-principal);

}


 
 
body{
  display: flex;
  padding: $xpacing-xsmall;
  /* flex-wrap: wrap;
  flex-direction: column;
 margin: 0 auto;*/
  margin: 20px;
  max-width: 1200px;
  margin-top: var(--spacing-medium);
  min-height: height 100vh;
  display: grid;
  justify-content: center;
  /*.carousel_h5 {

 
    font-size: $text-large;
   color:rgb(82, 243, 8);
 
  }*/



main{
width: 100%;
display: grid;
align-items: center;
flex-wrap: wrap;

margin: 0 auto;
padding: $xpacing-xsmall;
max-width: 1200px;
justify-content: center;
margin-top: var($spacing-medium);

}

.fondo__main{
display: flex;
width: 100%;

}

/*.descripIndex{
display: flex;
flex-direction:column;

width: 100%;
align-items: center;

.flex-cointainer{
display: flex;
flex-wrap: wrap;

}*/

.img__rep{
    box-sizing:border-box;
    flex-direction: row;
    object-fit: cover;
  

    margin-top: $xpacing-xsmall;
  }
.texto1{
  flex-direction: row;
  
   padding:$spacing-small;
   


   font-size: $text-small;
   

  
  

}
}

header

header{
  display: flex;
  width: 100%;
  height: 100vh;
  gap: $xpacing-xsmall;
  justify-content: space-between;
  align-items: center;

  /*background: linear-gradient(70deg, black,rgba(0, 0, 0, 0.541), grey);*/
  background-image: linear-gradient(225deg, #ab77fd 0, #825dea 25%, #4d42d4 50%, #002abf 75%, #001aac 100%);
  height:$height-big;
  

/*
  .navbar-brand{
      color: $base;
      font-size: $text-titles;
      
  }
  #navbar-toggler-icon{
      color:$base;
  }
  .nav-link{
      color: $base;
      font-size: $text-titles;
      padding:$xpacing-xsmall;
  }
  .Servicios{
      color:$base;
      font-size: $text-titles;
      padding:$xpacing-xsmall;
  }
*/
  
/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');

/*Css Reset*/ 
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;

}
 /*Navigation*/

.nav{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}


  
.logo__opc{
  
  display: flex;
  margin: 1em;
  display: inline-block;
  margin: 0 0.5rem;
  width: 200px;

  margin-left: 30px;

  align-items: flex-end;
     }

.bar-btn{
  font-size: 25px;
  color: white;
  margin: 1px;
  cursor: pointer;

}

.nav-menu {
  
  position: fixed;
  width: 100%;
  height: 0vh;
  top:100px;  
  background: rgba(0, 0, 0, .95);
  text-align: center;
  transition: all .5s;


}


.nav-menu li {
  display:none;
  line-height: 100px;
  margin: 50px 0;
  transition: all .5s;

}

.nav-menu li a {
  color:#fff ;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover{
  color: rgb(248, 8, 8);
  transition: .3s;
}

#check{
  display: none;
}

#check:checked ~ .nav-menu{
  height: 100vh;
  
}


#check:checked ~ .nav-menu li {
  display: block;
}


 /*Responsive*/
      
  @media screen and (min-width: 900px) {
      .logo__opc{
          margin-left: 50px;
      }

      nav{
          height: 100%;
      }
      .bar-btn{
          display: none;
      }
      .nav-menu{
          position: relative;
          height: 20px;
          top: 0;
          background: none;
          transition: none;
          text-align: right;
          margin-right: 20px;
      }
      .nav-menu li{
          display:inline-flex ;
          flex-direction: row;
          line-height: 50px;
          margin: 0 20px;
          transition: none; 
      }

      .nav-menu li a {
          font-size: 12px;
      }
  }


 
}
