



html{
    font-size: 62.5%;
    font-family: var(--font-principal);
 
  }


   
   
body{
    display: flex;
    padding: $xpacing-xsmall;
    /* flex-wrap: wrap;
    flex-direction: column;
   margin: 0 auto;*/
    margin: 20px;
    max-width: 1200px;
    margin-top: var(--spacing-medium);
    min-height: height 100vh;
    display: grid;
    justify-content: center;
    /*.carousel_h5 {
  
   
      font-size: $text-large;
     color:rgb(82, 243, 8);
   
    }*/

  

main{
  width: 100%;
  display: grid;
  align-items: center;
  flex-wrap: wrap;
  
  margin: 0 auto;
  padding: $xpacing-xsmall;
  max-width: 1200px;
  justify-content: center;
  margin-top: var($spacing-medium);
 
}

.fondo__main{
  display: flex;
  width: 100%;

}

/*.descripIndex{
  display: flex;
  flex-direction:column;

  width: 100%;
  align-items: center;

.flex-cointainer{
  display: flex;
  flex-wrap: wrap;

}*/

  .img__rep{
      box-sizing:border-box;
      flex-direction: row;
      object-fit: cover;
    
 
      margin-top: $xpacing-xsmall;
    }
  .texto1{
    flex-direction: row;
    
     padding:$spacing-small;
     

 
     font-size: $text-small;
     

    
    

  }
}

