
    /*Colors*/
    $primary:aqua;
    $secondary:blue;
    $text-color:black;
    $base:white;
    
    
    /*Spacing*/

    $spacing-medium: 2.4rem;
    $spacing-small: 2rem;
    $xpacing-xsmall:1rem;
    
    /* Font- family */
    
    $font-principal:'Roboto', sans-serif;
    $font-title:'Outfit', sans-serif;
    $font-media: 'Montserrat', sans-serif;

    /* Font- sizes */

    $text-large: 5.2em;
    $text-medium:4.5em;
    $text-titles:2.2em;
    $text-base:1.8em;
    $text-small:1.4em;

    /*Sizes */
    $height-big:15rem;
   